Source: goj
Section: utils
Priority: optional
Maintainer: Tianyun Zhang <doowzs@qq.com>

Package: goj
Architecture: amd64
Homepage: https://doowzs.com/doowzs/goj
Description: generate oj problems with go